/* USER */
#user {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* REQUIRED ON MOBILE */
    padding-top: min(8rem, 30%);
}

/* USER LOGIN/SIGNUP */
/* buttons for log in/sign up */
.user__buttons {
    padding-top: 30%;
    min-height: 150px;
    width: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.user-button {
    width: 200px;
    height: 50px;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 10px;
    border: 1px solid var(--primary-color-black);
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-button:hover {
    background-color: var(--primary-color-black);
    color: var(--primary-color-yellow);
    transition: all 0.3s ease-in-out;
}

.form-input,
.form-submit,
.user-button {
    box-shadow: var(--box-shadow-default);
}
/* login/sign up form */
.form-wrapper {
    display: flex;
    width: 350px;
    flex-direction: column;
    gap: 1rem;
    padding: 0 3rem;
}

.form-title {
    font-size: 2rem;
    font-weight: 600;
    color: var(--primary-color-black);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem
}

.input-wrapper {
    display: flex;
    flex-direction: column;
}

.form-input {
    all: unset;
    background-color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.form-input::placeholder {
    font-size: 1.15rem;
}


.form-input:hover,
.form-input:focus {
    box-shadow: var(--box-shadow-valid);
}

.form-input.invalid {
    border: 2px solid var(--error-color);
}
.form-input.invalid:hover,
.form-input.invalid:focus {
    border-width: 0;
    box-shadow: var(--box-shadow-invalid);
}

.errmsg,
.instructions {
    padding-left: 0.5rem;
}

.instructions {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    line-height: 1.15rem;
}

.instructions.show {
    margin-top: 0.5rem;
    max-height: 10rem;
}

.form__buttons {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.form-submit {
    font-size: 1.25rem;
    transition: all 0.3s ease-in-out;
}

.form-submit {
    padding: 0.5rem 1rem;
    border: 1px solid var(--primary-color-black);
    background-color: transparent;
    font-weight: 600;
    border-radius: 0.5rem;
    color: var(--primary-color-black);
    cursor: pointer;

    width: 50%;
    display: flex;
    align-content: center;
    justify-content: center;

}

.form-submit.enabled:hover,
.form-submit.enabled:focus,
.form-submit.enabled:active {
    background-color: var(--primary-color-black);
    color: var(--primary-color-yellow);
}

.form-submit:disabled {
    opacity: 0.5;
}

#user.no-user{
    gap: min(20%, 5rem);
}