/* VARIABLES */
:root {
    /* colors */
    --primary-color-red: #d97f67;
    --primary-color-yellow: #e8c060;
    --primary-color-green: #2e5445;
    --primary-color-black: #000000;

    --secondary-color-red: #d97f67;

    --error-color: #c10000;

    --box-shadow-black: 3px 3px 2px rgb(0, 0, 0);
}

/* CSS RESET */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

img {
    display: block;
    max-width: 100%;
}

p,
li {
    max-width: var(--p-max-width, 65ch);
    text-wrap: pretty;
}

button {
    all: unset;
    cursor: pointer;
}

/* ERROR MODAL */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,500,400,300);

/* ERROR FRAME */
.frame {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background: #3F3F3F;
    color: #415868;
    font-family: 'Open Sans', Helvetica, sans-serif;
    display: block;
}

.frame.hide {
    display: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 300px;
    background: #fff;
    border-radius: 3px;
    text-align: center;
    padding: 10px 20px;
}

#modal__image {
    margin-top: 10px;

}

#modal__title {
    display: block;
    font-size: 26px;
    line-height: 24px;
    font-weight: 400;
    margin: 24px 0;
}

#modal__mesage {
    font-size: 14px;
    font-weight: 300;
    line-height: 19px;

}

#modal__button {
    position: absolute;
    height: 40px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #F65656;
    color: #fff;
    line-height: 40px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    transition: background .3s ease-in-out;
}

#modal__button:hover {
    background: #EC3434;
}

/* BODY */
body {
    background-color: var(--primary-color-black);
    opacity: 1;
    /* background-image: linear-gradient(30deg, #040404 12%, transparent 12.5%, transparent 87%, #04061a 87.5%, #04061a), linear-gradient(150deg, #04061a 12%, transparent 12.5%, transparent 87%, #04061a 87.5%, #04061a), linear-gradient(30deg, #04061a 12%, transparent 12.5%, transparent 87%, #04061a 87.5%, #04061a), linear-gradient(150deg, #04061a 12%, transparent 12.5%, transparent 87%, #04061a 87.5%, #04061a), linear-gradient(60deg, #04061a77 25%, transparent 25.5%, transparent 75%, #04061a77 75%, #04061a77), linear-gradient(60deg, #04061a77 25%, transparent 25.5%, transparent 75%, #04061a77 75%, #04061a77); */
    background-size: 8px 14px;
    background-position: 0 0, 0 0, 4px 7px, 4px 7px, 0 0, 4px 7px;
    font-family: 'Cormorant', Arial, sans-serif;
    overflow-x: hidden;
}

body.no-scroll {
    overflow: hidden;
}

/* HEADER */
#header {
    padding-bottom: 10rem;
    position: relative;
}

/* selector */
#header__selector {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    height: 6rem;
    padding-top: 1rem;
    margin-bottom: 3rem;
    position: sticky;
    top: 0;
    z-index: 2;
    transition: transform 0.5s ease-in-out;
}

#header__selector.hidden {
    transform: translateY(-100%);
}

#selector-img {
    position: relative;
    max-height: 50%;
    max-width: 50%;
    object-fit: contain;
}

.selector-btn {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 600;
    transition: color 0.2s ease-in-out;
}

.selector-btn.active {
    color: var(--primary-color-red);
}

/* Money Images */
.header-money {
    position: absolute;
    width: 25%;
    height: 25%;
    object-fit: contain;
    z-index: -100;
}

.money-upper {
    top: 0;
    left: 0;
    transform: translate(50%, 50%);
    animation: fly-upper-money 8s infinite;
}

.money-lower {
    bottom: 0;
    right: 0;
    width: 40%;
    height: 40%;
    animation: fly-lower-money 8s infinite;
}

@keyframes fly-upper-money {

    0%,
    100% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(80vw, 25%);
    }

    50% {
        transform: translate(50%, 50%);
    }

    75% {
        transform: translate(75%, 75%);
    }
}

@keyframes fly-lower-money {

    0%,
    100% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(-80vw, 25%);
    }

    50% {
        transform: translate(40vw, 50%);
    }

    75% {
        transform: translate(30%, 75%);
    }
}


/* title */
#header__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
    padding-top: 1rem;
    line-height: 2.75rem;
}

.title-text {
    /* 3.25 */
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    word-break: normal;

}

.title-one,
.title-four {
    color: var(--primary-color-red);
}

.title-two,
.title-three {
    color: var(--primary-color-yellow);
}

.title-one,
.title-two {
    /* align-self: flex-end; */
}

/* HAMBURGER */
/* burger button */
#hamburger {
    position: absolute;
    right: 1rem;
    width: 35px;
    z-index: 10;
    transition: transform 0.5s ease-in-out;
}

#hamburger>#bar,
#hamburger::after,
#hamburger::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}

#hamburger>#bar {
    width: 100%;
}

/* hamburger is active */
#hamburger.active>#bar {
    opacity: 0;
}

#hamburger.active::after {
    transform: rotate(-45deg) translate(4px, -8px);
    background-color: var(--primary-color-black);
}

#hamburger.active::before {
    transform: rotate(45deg) translate(4px, 8px);
    background-color: var(--primary-color-black);
}

#hamburger.active {
    transform: translateY(3rem);
}

/* burger menu */
#menu {
    position: absolute;
    z-index: 9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    transition: transform 0.5s ease-in-out;
    background-color: var(--primary-color-yellow);
}

#menu.active {
    transform: translateX(-100%);
}

.menu-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu-img.img-one {
    transform: rotate(180deg) translateY(2rem);
}

/* TICKET */
#ticket {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem;
    transform: scale(0.8);
}

/* some of the zestiest shit ive ever done */
#ticket__upper,
#ticket__lower {
    --width: min(100vmin, 435px);
    width: var(--width);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* upper ticket */
#ticket__upper {
    height: calc(var(--width) * (142/435));
    background-image: url(../images/ticket-upper.webp);
    padding: 0 1rem;
    gap: 1rem;
    border-bottom: 1px dashed var(--primary-color-black);
    /* border-style: ; */
}

#ticket__lower.clicked {
    animation: ticket-lower-click 1s ease-in-out;
}


.ticket__info {
    text-align: center;
    padding-top: 1rem;
}

.ticket-text {
    font-size: 3rem;
    line-height: 2.5rem;
}

.ticket-date {
    font-size: 2rem;
}

@keyframes ticket-lower-click {
    0% {
        transform: rotate(0);
    }

    20% {
        transform: scale(20) rotate(180deg);
    }

    40% {
        transform: scale(40) rotate(360deg);
    }

    60% {
        transform: scale(60) rotate(540deg);
    }

    80% {
        transform: scale(80) rotate(720deg);
    }

    100% {
        transform: scale(100) rotate(360deg);
    }
}

.ticket-title {
    color: var(--primary-color-green);
    line-height: 5rem;
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: -3px;
    display: block;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
}

#ticket-title-two {
    align-items: flex-end;
}

/* lower ticket */
#ticket__lower {
    height: calc(var(--width) * (158/435));
    background-image: url(../images/ticket-lower.webp);
}

#ticket-button {
    font-size: 4rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 1rem 3.5rem;
    border: 1px solid var(--primary-color-green);
    animation: animateTicketButton 2s ease-in-out infinite;
}

/* @keyframes animateTicketButton {
    0%, 100% {
      transform: translateX(0) scale(1);
    }
    10%{
        transform: scale(1.1) rotate(15deg);
    }
    20%{
        transform: scale(1.2) rotate(0);
    }
    30%{
        transform: scale(1) rotate(-15deg);
    }
    40%{
        transform: scale(0.9) rotate(-30deg);
    }
    50%{
        transform: scale(0.8) rotate(-0deg);
    }
    60%{
        transform: scale(1) rotate(10deg);
    }
    70%{
        transform: scale(1.2) rotate(20deg);
    }
    80%{
        transform: scale(1.1) rotate(-10deg);

    }
    90%{
        transform: scale(1.05) rotate(5deg);
    }
  } */

  @keyframes animateTicketButton {
    0%, 100% {
      transform: scale(1);
    }
    5% {
      transform: scale(1.1) rotate(15deg);
    }
    8.5% {
      transform: scale(1.15) rotate(7.5deg);
    }
    10% {
      transform: scale(1.2) rotate(0deg);
    }
    12.5% {
      transform: scale(1.1) rotate(-7.5deg);
    }
    15% {
      transform: scale(1) rotate(-15deg);
    }
    17.5% {
      transform: scale(0.95) rotate(-22.5deg);
    }
    20% {
      transform: scale(0.9) rotate(-30deg);
    }
    22.5% {
      transform: scale(0.85) rotate(-22.5deg);
    }
    25% {
      transform: scale(0.8) rotate(-15deg);
    }
    27.5% {
      transform: scale(0.85) rotate(-10deg);
    }
    30% {
      transform: scale(0.9) rotate(-5deg);
    }
    32.5% {
      transform: scale(1) rotate(0deg);
    }
    35% {
      transform: scale(1.05) rotate(5deg);
    }
    37.5% {
      transform: scale(1.1) rotate(10deg);
    }
    40% {
      transform: scale(1.15) rotate(15deg);
    }
    42.5% {
      transform: scale(1.2) rotate(10deg);
    }
    45% {
      transform: scale(1.15) rotate(5deg);
    }
    47.5% {
      transform: scale(1.1) rotate(0deg);
    }
    50% {
      transform: scale(1.05) rotate(-5deg);
    }
    52.5% {
      transform: scale(1) rotate(-10deg);
    }
    55% {
      transform: scale(0.95) rotate(-15deg);
    }
    57.5% {
      transform: scale(0.9) rotate(-22.5deg);
    }
    60% {
      transform: scale(0.85) rotate(-30deg);
    }
    62.5% {
      transform: scale(0.9) rotate(-22.5deg);
    }
    65% {
      transform: scale(0.95) rotate(-15deg);
    }
    67.5% {
      transform: scale(1) rotate(-10deg);
    }
    70% {
      transform: scale(1.05) rotate(-5deg);
    }
    72.5% {
      transform: scale(1.1) rotate(0deg);
    }
    75% {
      transform: scale(1.15) rotate(5deg);
    }
    77.5% {
      transform: scale(1.2) rotate(10deg);
    }
    80% {
      transform: scale(1.15) rotate(15deg);
    }
    82.5% {
      transform: scale(1.1) rotate(10deg);
    }
    85% {
      transform: scale(1.05) rotate(5deg);
    }
    87.5% {
      transform: scale(1) rotate(0deg);
    }
    /* 90% {
      transform: scale(0.95) rotate(-5deg);
    }
    92.5% {
      transform: scale(0.9) rotate(-10deg);
    }
    95% {
      transform: scale(0.85) rotate(-15deg);
    }
    97.5% {
      transform: scale(0.95) rotate(-22.5deg);
    } */
  }


#ticket-button.clicked {
    opacity: 0;
}

/* USER */
#user {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* REQUIRED ON MOBILE */
    padding-top: min(8rem, 30%);
}

/* USER LOGIN/SIGNUP */
.form-wrapper {
    display: flex;
    width: 350px;
    flex-direction: column;
    gap: 1rem;
    padding: 0 3rem;
}

.form-title {
    font-size: 2rem;
    font-weight: 600;
    color: var(--primary-color-black);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem
}

.input-wrapper {
    display: flex;
    flex-direction: column;
}

.form-input {
    all: unset;
    background-color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.form-input::placeholder {
    font-size: 1.15rem;
}

.form-input.invalid {
    border: 1px solid var(--error-color);
}

.form-input:hover,
.form-input:focus {
    outline: none;
    box-shadow: 3px 3px 0 1px var(--primary-color-green);
}

.form-input.invalid:hover,
.form-input.invalid:focus {
    box-shadow: 3px 3px 0 1px var(--error-color);
}

.errmsg,
.instructions {
    padding-left: 0.5rem;
}

.instructions {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    line-height: 1.15rem;
}

.instructions.show {
    margin-top: 0.5rem;
    max-height: 10rem;
}

.form__buttons {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.form-submit,
.form-leave {
    font-size: 1.25rem;
    transition: all 0.3s ease-in-out;
}

.form-submit {
    padding: 0.5rem 1rem;
    border: 1px solid var(--primary-color-black);
    background-color: transparent;
    font-weight: 600;
    border-radius: 0.5rem;
    color: var(--primary-color-black);
    cursor: pointer;

    width: 50%;
    display: flex;
    align-content: center;
    justify-content: center;
    
}

.form-submit.enabled:hover,
.form-submit.enabled:focus,
.form-submit.enabled:active {
    background-color: var(--primary-color-black);
    color: var(--primary-color-yellow);
}

.form-submit:disabled {
    opacity: 0.5;
}

.form-leave:hover,
.form-leave:focus,
.form-leave:active {
    font-weight: 600;
}

.form-leave{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 5.2rem;
    left: 1.5rem;
    cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.fly-off {
    transform: translateX(50px) rotate(45deg);
    animation: flyOffAnimation 0.5s forwards; 
  }
  
  @keyframes flyOffAnimation {
    0% {
      opacity: 1;
      transform: translateX(50px) rotate(45deg);
    }
    100% {
      opacity: 0;
      transform: translateX(-300%) rotate(45deg);
    }
  } 
 

.offscreen {
    display: none;
}

.errmsg {
    color: var(--error-color);
    font-size: 1.25rem;
    font-weight: 600;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.errmsg.active {
    opacity: 1;
}

/* LEADERBOARD */
.leaderboard {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0 min(3rem, 30%);
    padding-bottom: 3rem;
}

.entry {
    font-size: 1rem;
    color: white;
    transform: translateX(-100vh);
    --transition-delay-base: 300ms;
    --transition-delay-multiplier: 0;
    --transition-delay: calc( var(--transition-delay-base) * var(--transition-delay-multiplier));
    --transition-length: 1000ms;
    --entry-color-primary: gray;
    transition: transform var(--transition-length) cubic-bezier(.41,-0.7,.27,1.71);
    transition-delay: var(--transition-delay);
}
.entry.first{
    --transition-delay-multiplier: 0;
    --entry-color-primary: rgb(255, 185, 0);
}
.entry.second{
    --transition-delay-multiplier: 1;
    --entry-color-primary: rgb(105, 121, 126);
}
.entry.third{
    --transition-delay-multiplier: 2;
    --entry-color-primary: rgb(132, 117, 69);

}
.entry.fourth{
    --transition-delay-multiplier: 3;
}
.entry.fifth{
    --transition-delay-multiplier: 4;
}
.entry.none{
    --transition-delay-multiplier: 5;
}

.leaderboard.in-view .entry {
    transform: translateX(0);
}

.entry {
    font-size: 1rem;
    color: white;
}

.entry-wrap {
    display: flex;
    margin-bottom: 0.75rem;
}

.entry-ava {
    position: relative;
    background-color: var(--entry-color-primary);
    padding: 8px;
    margin-right: 10px;
}

.entry-ava svg {
    height: 24px;
    width: 24px;
}

.entry-ava::after {
    content: "";
    left: 0;
    bottom: 0;
    height: 10px;
    position: absolute;
    border: 0px transparent solid;
    border-left-width: 20px;
    border-right-width: 20px;
    border-bottom-width: 6px;
    border-bottom-color: var(--primary-color-black);
    transition: border-bottom-color .2s ease-in-out;
}

.entry__info{
    color: whitesmoke;
    max-width: 100%;

}
.entry-pos,
.money-icon{
    margin-right: 0.5rem;
}

.entry-pos::after {
    content: ".";
}
.entry-pos {
    font-weight: 700;
}

.entry-name,
.entry-money{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.entry-name{
    font-size: 2rem;
    margin-bottom: 0.15rem;
}

.entry-money{
    font-size: 1.5rem;
}

.money-cnt{
    text-transform: uppercase;
    font-weight: 700;
}

.leaderboard__controls{
    display: flex;
    justify-content: center;
    align-items: center;
}

.leaderboard__controls button{
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
    border: 1px solid white;
    background-color: transparent;
    font-weight: 600;
    border-radius: 0.5rem;
    color: white;
    cursor: pointer;
}

.bar{
    height: 4px;
    background-color: var(--entry-color-primary);
    max-width: 0%;
    transition: max-width 1s ease-in-out;
    transition-delay: calc(var(--transition-delay) + var(--transition-length) + 25ms);
}
.leaderboard.in-view .bar{
    /* bar-width defined in react */
    max-width: var(--bar-width, 30%);
}

/* CSS FOR VISUAL TESTS (will be deleted in production) */
.content {
    height: 350vh;
}

.user__buttons {
    padding-top: 30%;
    min-height: 150px;
    width: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.user-button {
    width: 200px;
    height: 50px;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 10px;
    border: 1px solid var(--primary-color-black);
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-button:hover{
    background-color: var(--primary-color-black);
    color: var(--primary-color-yellow);
    transition: all 0.3s ease-in-out;

}


.user__profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line {
    display: inline-block;
}

.form-input, .form-submit, .user-button{
    box-shadow: var(--box-shadow-black);
}