/* ERROR FRAME */
.frame {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: #3F3F3F;
    color: #415868;
    font-family: 'Open Sans', Helvetica, sans-serif;
    display: block;
}

.frame.hide {
    display: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 300px;
    background: #fff;
    border-radius: 3px;
    text-align: center;
    padding: 10px 20px;
}

#modal__image {
    margin-top: 10px;

}

#modal__title {
    display: block;
    font-size: 26px;
    line-height: 24px;
    font-weight: 400;
    margin: 24px 0;
}

#modal__mesage {
    font-size: 14px;
    font-weight: 300;
    line-height: 19px;

}

#modal__button {
    position: absolute;
    height: 40px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #F65656;
    color: #fff;
    line-height: 40px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    transition: background .3s ease-in-out;
    pointer-events: initial;
}

#modal__button:hover {
    background: #EC3434;
}